GIT_REPO=$HOME/repos/{{ item.name }}
TMP_GIT_CLONE=$HOME/tmp/{{ item.name }}
PUBLIC_WWW=$HOME/sites/{{ item.name }}

unset GIT_DIR

if [ -d "$TMP_GIT_CLONE" ]; then
  cd $TMP_GIT_CLONE
  git pull origin master
  git clean -d -f
else
  git clone $GIT_REPO $TMP_GIT_CLONE
  cd $TMP_GIT_CLONE
fi

{{ item.command }}

exit
